<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.seckillstock.mapper.GoodsStockMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="team.seckillstock.entity.GoodsStock">
        <id column="goods_stock_id" property="goodsStockId" />
        <result column="daily_goods_id" property="dailyGoodsId" />
        <result column="quanty" property="quanty" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        goods_stock_id, daily_goods_id, quanty
    </sql>

</mapper>
